body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

/* Header */
header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
    background: #ddd;
}

.blogs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    
    text-align: center;
}
p[title]{
    font-size: 14px;
    color: #555;
}



footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    
}
